<h1>Корзина</h1>
<div id="cart">
{{#if courses.length}}
    <table>
        <thead>
            <tr>
                <th>Название</td>
                <th>Кол-во</td>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
        {{#each courses}}            
            <tr>
                <td>{{title}}</td>
                <td>{{count}}</td>
                <td>
                    <button class="btn btn-small js-remove" data-id="{{id}}">Удалить</button>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
    <p>
        <strong>
            Цена: <span class="price">{{price}}</span>
        </strong>
    </p>
{{else}}
    <p>Корзина пуста!</p>
    <p>Давайте что-то <a href="/courses">купим</a>!</p>
{{/if}}
</div>